<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="16.1.0.0" targetFramework="net40" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="6.1.8" targetFramework="net40" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.9.1" targetFramework="net40" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.0.6" targetFramework="net40" />
  <package id="RequireJS" version="2.1.22" targetFramework="net40" />
  <package id="TypeScript.NET.Library" version="2.19.0" targetFramework="net40" />
</packages>