<?xml version="1.0" encoding="utf-8"?>

<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!-- APPLICATION CONFIG PARAMETERS
  -->
  <appSettings file="config/Parameters.xml"/>

  <system.web>

    <!-- ATTENZIONE: senza questo non scatend Session_End in Global.asax (potrebbe creare problemi di sicurezza nei provider come Aruba) -->
    <!--<sessionState mode="InProc" />-->
    <customErrors mode="Off"/>

    <!-- necessario per l'invio di codice html e files di grandi dimensioni tramite form-->
    <httpRuntime
        requestValidationMode="2.0"
        maxRequestLength="16384"
        executionTimeout="600"
     />

    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <pages validateRequest="false">   <!-- evita la validazione dei contenuti inviati mediante POST che potrebbero includere codice HTML -->
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

</configuration>
